<div class="container">
  <h2>Change Mobile</h2>
  <form (ngSubmit)="changeMobile()" #addForm="ngForm">
    <div class="container" style="padding: 8px;">
      <div class="form-group"
          style=" width: 1000px; opacity: 0.97; text-align: justify; background-color: rgb(172, 240, 140); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: larger;">
          <table style="color: rgb(46, 154, 197); border-collapse: separate; " class="table table-hover">
            <tr>
              <td width="25%">Enter new Mobile: </td>
              <td>
              <input type="text" placeholder="Enter new Mobile" [(ngModel)]=mobile name="mobile" #nmobile=ngModel focused = false  class="form-control" id="mobile" required pattern="[7-9][0-9]{9}" required>
              <span *ngIf="nmobile.touched && nmobile.invalid && 
              (nmobile.errors.required || nmobile.errors.pattern)" class="alert-warning">
                Invalid Mobile no. or Mobile no. cannot be empty!
              </span>  
            </td>
            </tr>

          <tr>
              <td colspan="2" align="center">  
              <button type="submit" [disabled]="!addForm.valid" class="btn btn-info">Change Mobile</button>
              </td>
            </tr>
          </table>
       </div>
    </div>
  </form>
</div>
    