<h1 style="text-align: center">Expense Management System</h1>
<nav class="navbar navbar-dark bg-primary" style="background-color: #c5e7ff;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a *ngIf = "!flag" class="navbar-brand" href="http://localhost:4200">EMS</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['home']">Project Module</a></li>
        <li *ngIf = "!flag"><a [routerLink]="['login']">Login</a></li>
        <!-- <li *ngIf = "!flag"><a href="http://localhost:4200"> Main Home</a></li> -->
        <li *ngIf = "flag"><a [routerLink]="['add']">Add Project</a></li>
        <li *ngIf = "flag"><a [routerLink]="['update']">Modify Project</a></li>
        <li *ngIf = "flag"><a [routerLink]="['delete']">Delete Project</a></li>
        <li *ngIf = "flag"><a [routerLink]="['display']">Display Project</a></li>
        <li *ngIf = "flag"><a [routerLink]="['search']">Search Project</a></li>
        <li *ngIf = "flag"><a [routerLink]="['logout']">Logout</a></li>
        
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>