<h1>Finance Module:</h1> <br>
<h2> Following is a list of functionalities of the system. There is a Finance Team user
  who can login and view list of claims made by employees and approve or reject them.
  A new finance user can register by providing the proper unique key. the finance user can 
update his contact details and change the login password.</h2>
<h3>1. Register a new finance user:</h3>
<p>•Insert the values into database table if data is valid, else display appropriate error
  messages.</p>
<p>•User ID should be provided by the registering user. It should start with FE and contain
  5 capital letter characters or numbers or a combination of these</p>
<p>Password should have minimum 5 characters and maximum 50 and must have only numbers or
  letters or a combination of these.</p>
<h3> 2. Claims:</h3>
<p>•Displays list of claims along with relevant details and provides option to approve or
  reject them.</p>
<h3> 3. Upddate details:</h3>
<p>•User can change the login password, e-mail and mobile number by clicking on the respective
button.</p>