<div class="container">
    <h2>Change Password</h2>
    <form (ngSubmit)="changePassword()" #addForm="ngForm">
      <div class="container" style="padding: 8px;">
        <div class="form-group"
            style=" width: 1000px; opacity: 0.97; text-align: justify; background-color: khaki; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: larger;">
            <table style="color: maroon; border-collapse: separate; " class="table table-hover">
              <tr>
                <td width="25%">Enter Previous Password : </td>
                <td>
                <input type="password" placeholder="Enter Old Password" [(ngModel)]=oldPassword name="oldPassword" #name=ngModel focused = false  class="form-control" id="oldPassword" required>
                </td>
              </tr>
  
              <tr>
                <td width="25%">Enter New Password : </td>
                <td>
                <input type="password" placeholder="Enter New Password" [(ngModel)]=newPassword name="newPassword" #name=ngModel focused = false class="form-control" id="newPassword" required>
                </td>
              </tr>
            <tr>
                <td colspan="2" align="center">  
                <button type="submit" [disabled]="!addForm.valid" class="btn btn-info">Change Password</button>
                </td>
              </tr>
            </table>
         </div>
      </div>
    </form>
  </div>
      