<form (ngSubmit)="displayDetails()" #addForm="ngForm">
  
  <div class="form-group">
    <button name="domainSearch" type="submit" [disabled]="addForm.valid" class="btn btn-info">View Own Details</button>
  </div>
</form>

<div [hidden]="!found">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Employee PAN</th>
            <th scope="col">Designation</th>
            <th scope="col">Domain</th>
            <th scope="col">Employee Email</th>
          </tr>
        </thead>
        
          <tr >
            <td>{{employee.empId}}</td> 
            <td>{{employee.name}}</td>
            <td>{{employee.pan}}</td>
            <td>{{employee.designation}}</td>
            <td>{{employee.domain}}</td>
            <td>{{employee.email}}</td>
            <!--<td><button class="btn btn-warning" (click)="delete(i)">Delete Customer</button></td>-->
          </tr>
        
        <tr><td></td><td></td><td></td><td></td><td></td><td><button class="btn btn-info"> <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls></button></td></tr>
      </table>
    </div>
<div class="container">
    <h2>Update Details</h2>
    <form (ngSubmit)="updateEmployee()" #addForm="ngForm">
      <div class="container" style="padding: 8px;">
        <div class="form-group"
            style=" width: 1000px; opacity: 0.97; text-align: justify; background-color: khaki; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: larger;">
            <table style="color: maroon; border-collapse: separate; " class="table table-hover">
                <tr>
                    <td width="25%">PAN Number : </td>
                    <td>
                    <input type="text" placeholder="Enter PAN" [(ngModel)]="employee.pan" name="pan" #pan=ngModel focused = false required pattern="[A-Z]{5}[0-9]{4}[A-Z]" class="form-control" id="pan" required>
                    <!--<span *ngIf="pan.touched && pan.invalid && (pan.errors.required || pan.errors.pattern)" class="alert-warning">
                      Invalid PAN or name cannot be empty!
                    </span>-->
                    </td>
                  </tr>
                  <tr>
                    <td width="25%">Designation : </td>
                    <td><select [(ngModel)]="employee.designation" name="designation" #city=ngModel required class="form-control">
                      <option disabled selected>--Select--</option>
                      <option *ngFor="let a of designations" >{{a}}</option>
                    </select>
                  </td></tr>
                
                  <tr>
                    <td width="25%">Domain : </td>
                    <td><select [(ngModel)]="employee.domain" name="domain" #domain=ngModel required class="form-control">
                      <option disabled selected>--Select--</option>
                      <option *ngFor="let domain of domains" >{{domain}}</option>
                    </select>
                  </td></tr>
                  <tr>
                      <td width="25%">Salary : </td>
                      <td>
                      <input type="number" placeholder="Enter Salary" [(ngModel)]="employee.salary" name="salary" #salary=ngModel focused = false required pattern = "[1-9][0-9]{4,6}" class="form-control" id="salary" required>
                      </td>
                    </tr>
                <tr><td colspan="2" align ="center">  
                    <button type="submit" [disabled]="!addForm.valid" class="btn btn-info">Update Details</button>
                    </td>
                </tr>        
              </table>    
            </div>
                
          </div>        
        </form>        
      </div>
      
      