.wrapper{
    min-height: 90vh;
    padding-top: 75px;
}
.card{
    margin-left: auto;
    margin-right: auto;
    border-radius: 0%;
    width: 80vw;
    padding: 20px;
}
.card-title{
    margin-bottom: 20px;
}
.findBtn{
    width: 100%;
    height: 40px;
    border-radius: 0;   
}
.bookBtn{
    width: 100%;
    height: 40px;
    border-radius: 0;
}
.custom-select{
    border-radius: 0;
    border-width: 2px;
}
.offer-card{
    margin-top: 75px;
    margin-bottom: 75px;
}
.found-flights{
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    width: 80vw;
    padding: 20px;   
    margin-bottom: 75px;
}
.flight-card{
    margin: 0;
    border-radius: 0;
    margin-top: -50px;
}
.dateselect{
    border-style: solid;
    width: 100%;
    height: 37px;
    border-color: lightgray;
}
.pagination{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.errorMessage{
    color: red;
    margin-left: 20px;
}
.sortBtn{
    border-radius: 0;
    margin-right: 20px;
}