<form (ngSubmit)="deleteClaim()" #addForm="ngForm">
    <form>
    <div class="form-group">
      <label>Enter Claim Id</label><br>
    <input type="number" [(ngModel)]=claimId name="claimIdNum" #claimIdNum=ngModel placeholder="Enter Claim ID" required pattern="[1-9][0-9]{0,}">
      <span *ngIf="claimIdNum.touched && claimIdNum.invalid && (claimIdNum.errors.required || claimIdNum.errors.pattern)" class="alert-warning">
        Invalid name or field Empty !!
      </span> 
      <button class="btn btn-success" (click)="listClaim()">Search</button>
      <hr>
      <table class="table table-bordered">
          <tr>
          <th>Employee Id</th>    
          <th>Project Id</th>
          <th>Client Id</th>
          <th>Finance Id</th>
          <th>Expense Id</th>
          <th>Amount</th>
          <th>Start Date</th>
          <th>Status</th>
          <th>Description</th>
            </tr>
            <tr>
                <td>{{expenseClaims.employeeId}}</td>
                <td>{{expenseClaims.projectId}}</td>
                <td>{{expenseClaims.clientId}}</td>
                <td>{{expenseClaims.financeUserId}}</td>
                <td>{{expenseClaims.expenseId}}</td>
                <td>{{expenseClaims.amount}}</td>
                <td>{{expenseClaims.startDate}}</td>
                <td>{{expenseClaims.status}}</td>
                <td>{{expenseClaims.description}}</td>
              </tr>
  
      </table>
    </div>
    </form>
    <div class="form group">
      <br>
      <button class="btn btn-success" type="submit">Delete Expense Claim</button>
    </div>
  </form>
  <!-- [disabled]="!addForm.valid" -->