<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Name <button class="btn btn-info" (click)='sortByName()'>Sort by name</button></th>
        <th scope="col">City <button class="btn btn-info" (click)='sortByCity()'>Sort by city</button></th>
        <th scope="col">Branch <button class="btn btn-info" (click)='sortByBranch()'>Sort by branch</button></th>
        <th scope="col">Mobile no. <button class="btn btn-info" (click)='sortByMobile()'>Sort by mobile</button></th>
        <th scope="col">Mail Id <button class="btn btn-info" (click)='sortByEmail()'>Sort by mail</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tra of trainers; let i=index">
        <th>{{tra.name}}</th>
        <th>{{tra.city}}</th>
        <th>{{tra.branch}}</th>
        <th>{{tra.mobile}}</th>
        <th>{{tra.mail}}</th>
        <td><button class="btn btn-warning" (click)="delete(i)">Delete Trainer</button></td>
      </tr>
    </tbody>
  </table>
