<h1 style="text-align: center">Expense Management System</h1>
<nav class="navbar navbar-dark bg-primary" style="background-color: #c5e7ff;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a *ngIf = "!flag" class="navbar-brand" href="http://localhost:4200">EMS</a>
    </div>
    <ul class="nav navbar-nav">
        <li ><a [routerLink]="['home']">Finance Module</a></li>
        <li *ngIf = "!flag"><a [routerLink]="['register']">Register</a></li>
        <li *ngIf = "!flag"><a [routerLink]="['login']">Login</a></li>
        <li *ngIf = "flag"><a [routerLink]="['claim']">Claims</a></li>
        <li *ngIf = "flag"><a [routerLink]="['update']">Change Password</a></li>
        <li *ngIf = "flag"><a [routerLink]="['mobile']">Change Mobile</a></li>
        <li *ngIf = "flag"><a [routerLink]="['email']">Change Email</a></li>
        <li *ngIf = "flag"><a [routerLink]="['logout']">Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>